.c_menu{
    position: fixed;
    top: 0;
    right: 0px;
}
.c_menu-btn{
    background-color: white;
    color: brown;
    width: 90px;
    height: 90px;
    transition: all 1s ease-in-out;
    border-bottom-left-radius: 100%;
}
.c_menu-btn--icon{
    background-color: white;
    color: brown;
    width: 90px;
    height: 90px;
    transition: all 1s ease-in-out;
    position: relative;
    border-bottom-left-radius: 200px;
    cursor: pointer;
    z-index: 5;
}
.c_menu-btn--bar{
    position: absolute;
    top:50%;
    right: 50%;
    transform: translate(100%,-20px);
    border-radius: 50px;
    width: 30px;
    height: 5px;
    background-color: darkblue;
    transition: all 1s ease-in-out;
}
.c_menu-btn--bar::before{
    content: "";
    position: absolute;
    top:10px;
    width: 100%;
    height:100%;
    border-radius: 50px;
    background:darkblue;
    transition: all 1s ease-in-out;
}
.c_menu-btn--bar::after{
    content: "";
    position: absolute;
    bottom:10px;
    width: 100%;
    height:100%;
    border-radius: 50px;
    background:darkblue;
    transition: all 1s ease-in-out;
}

.c_menu-area{
    position: absolute;
    top:0px;
    right:0px;
    height:90px;
    width:90px;
    background-color: #fff;
    border-bottom-left-radius: 100%;
    z-index: 3;
    transition: all 1s ease-in-out;
    cursor: pointer;
    /* animation:expandAnimation 2s forwards; */
}

@keyframes expandAnimation{
    0%{
        transform: scale(0);
    }
    50%{
        transform: scale(5);
    }
    100%{
        transform: scale(1);
    }
}
.c_menu-area-main{
    position: absolute;
    top:0px;
    right:0px;
    height:300px;
    width:300px;
    background-color: white;
    border-bottom-left-radius: 100%;
}

.c_menu-btn--icon.open .c_menu-btn--bar{
    width: 0;
}
.c_menu-btn--icon.open .c_menu-btn--bar::before{
    width: 30px;
    background-color: white;
    transform-origin: 0% 0%;
    transform: translate(-20px,10px) rotate(45deg);
}
.c_menu-btn--icon.open .c_menu-btn--bar::after{
    width: 30px;
    background-color: white;
    transform-origin: 0% 0%;
    transform:translate(-25px,50px) rotate(-45deg);
}
.c_menu-btn--icon.open {
    background-color: #21264B;
}

.c_menu-area.expand{
    background-color: #21264B;
    height: 150px;
    width:150px;
    animation: expanAimation 2s forwards;
}