.navigation {
  position: absolute;
  right: 0;
  top: 50%;
}

.home-sidelinks {
  list-style: none;
  font-family: "Oswald", sans-serif !important;
  font-size: 14px;
  line-height: 1.714;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.3rem;
  margin: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  right: 0;
}
.home-sidelinks li {
  display: block;
  padding: 0;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.2);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  position: relative;
}
.home-sidelinks li:last-child {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}
.home-sidelinks li::before {
  content: "";
  display: block;
  height: 6px;
  width: 6px;
  background-color: #cc147f;
  border-radius: 50%;
  position: absolute;
  top: 3rem;
  left: 2rem;
}
.home-sidelinks a {
  word-wrap: none;
  word-break: keep-all;
  text-decoration: none;
  display: block;
  font-size: 12px;
  padding: 2.1rem 15rem 2.1rem 4rem;
  color: #ffffff;
}
.home-sidelinks span {
  display: block;
  font-family: "Oswald", sans-serif !important;
  font-size: 1.5rem;
  line-height: 1.6rem;
  color: rgba(255, 255, 255, 0.5);
  text-transform: none;
  letter-spacing: 0;
}
.home-sidelinks li:hover {
  background-color: rgba(0, 0, 0, 0.5);
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.scroll-top {
  position: absolute;
  bottom: 500px;
  letter-spacing: 4px;
  right: 0px;
  transform: rotate(-90deg);
}
.scroll-top-btn {
  position: absolute;
  bottom: 20px;
  letter-spacing: 4px;
  right: 30px;
}
.scroll-top-btn a {
  color: #8f8f8f;
}
.scroll-top::before {
  content: "";
  position: absolute;
  top: 15px;
  left: -110px;
  width: 50%;
  border-bottom: 1px solid grey;
}
.scroll-top::after {
  content: "";
  position: absolute;
  top: 15px;
  right: -110px;
  width: 50%;
  border-bottom: 1px solid grey;
}
.scroll-top a {
  text-decoration: none;
  color: #8f8f8f;
}
@media (max-width: 1400px) {
  .home-sidelinks a {
    padding: 23px 39px 7px 50px;
  }
}

@media (max-width: 1200px) {
  .home-sidelinks a {
    padding: 23px 39px 7px 50px;
  }
}
@media (max-width: 1000px) {
  .home-sidelinks a {
    padding: 23px 19px 7px 50px;
  }
  .scroll-bottom {
    font-size: 12px !important;
    bottom: 10px;
    right: 10px;
  }
  .sb-icon {
    font-size: 10px;
  }
}

@media (max-width: 800px) {
  .scroll-top {
    display: none;
  }
  .navigation {
    display: none;
  }
  .scroll-bottom {
    font-size: 12px !important;
    bottom: 80px !important;
    vertical-align: unset !important;
  }
}
